.App {
  text-align: center;
  /* background-color: #074c5e; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin);
  color: #ebac70; */
}

/* title font
.audiowidefont{
  font-family: "Audiowide", sans-serif;
  color: #c0483b;
}

/* body  font */
.monacofont{
  font-family: "monaco", monospace;
  color: #794a3a;
} */

/* glow score title orange */
h6.a{
  font-family: "Audiowide", sans-serif;
  color: #f57f5b;
  text-shadow: #f7997c 1px 0 10px;
}

/* glow score title yellow */
h7.a{
  font-family: "monaco", monospace;
  color: #faca78;
  text-shadow: #967948 1px 0 10px;
}

.OrangeFont {
  color: #ebac70;
}

.OrangeBackground {
  background-color: #ebac70;
}

.DarkBlueBackground {
  background-color: #074c5e;
}

.DarkBlueFont {
  color: #074c5e;
}

.DarkBlueBackground {
  background-color: #074c5e;
}

.DarkGreenBackground {
  background-color: #173c36;
}

.DarkGreenFont {
  color: #173c36;
}

.LightBlueFont {
  color: #79a4ad;
}

.LightBlueBackground {
  background-color: #79a4ad;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #173c36;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 20px;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: #79a4ad;
}

/*header button style */
.HeaderButton {
  background-color: #173c36;
  color: #79a4ad;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
}

/* hover over button colors */
button:hover {
    color: #173c36;
    background-color: #79a4ad;
}

/* input[type="submit"].btn:hover {
  color: #173c36;
  background-color: #79a4ad;
} */

.nav-button-active {
  color: #79a4ad;
  text-decoration: underline;
}

.Body {
  background-color: #074c5e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #ebac70;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 200px;
  width: 200px;
  border-radius: 10px 100px / 120px;

}

/* about me classes */
.AboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.AboutMeText {
  text-wrap: wrap;
  font-size: 20px;
  margin-top: 20px;
  width: 60vw;
  height: 100vh;
}

/* Project box */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: flex-start;
}

.projectBox {
  flex: 1 1 300px;
  position: relative;
  height: 200px;
  max-width: 300px;
  margin: 20px;
  border-radius: 10px 100px / 120px;
  }

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

.projectBox:hover .project-info {
  opacity: 1;
  visibility: visible;
}

/* footer */
.App-footer {
  background-color: #173c36;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #79a4ad;
  /* keep footer on bottom of page*/
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* contact form */
form {
  margin-top: 20px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  background-color: #173c36;
  font-size: calc(10px + 2vmin);
  color: #ebac70;
}

.formRow {
  margin: 10px 0 20px 0;
}

.formInput {
  padding: 15px 10px;
  border-radius: 10px 100px / 120px;
  min-width: 50%;
  color: #074c5e;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  border-radius: 10px 100px / 120px;

}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}

::placeholder {
  color: #074c5e;
}