.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* title font
.audiowidefont{
  font-family: "Audiowide", sans-serif;
  color: #c0483b;
}

/* body  font
.monacofont{
  font-family: "monaco", monospace;
  color: #794a3a;
} */

.CreamFont {
  color: #F2ECCE;
}

.CreamBackground {
  background-color: #F2ECCE;
}

.OrangeFont {
  color: #D99E30;
}

.OrangeBackground {
  background-color: #D99E30;
}

.DarkBlueBackground {
  background-color: #074c5e;
}

.DarkBlueFont {
  color: #074c5e;
}

.DarkBlueBackground {
  background-color: #074c5e;
}

.DarkGreenBackground {
  background-color: #594234;
}

.DarkGreenFont {
  color: #594234;
}

.LightBlueFont {
  color: #0B8C8C;
}

.LightBlueBackground {
  background-color: #0B8C8C;
}

.App-header {
  background-color: #0B8C8C;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 20px;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: #F2ECCE;
  padding-right: 60px;
}

/*header button style */
.HeaderButton {
  background-color: #0B8C8C;
  color: #F2ECCE;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
}

/* hover over button colors */
button:hover {
    color: #D9411E;
    background-color: #0B8C8C;
}

.nav-button-active {
  color: #D9411E;
  text-decoration: underline;
}

.Body {
  background-color: #074c5e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  color: #D99E30;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 200px;
  width: 200px;
  border-radius: 10px 100px / 120px;
}

/* about me classes */
.AboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.AboutMeText {
  text-wrap: wrap;
  font-size: 20px;
  margin-top: 20px;
  width: 60vw;
  height: fit-content;
  padding: 35px;
  border-radius: 10px 100px / 120px;
}

/* Project box */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: flex-start;
}

.projectBox {
  flex: 1 1 300px;
  position: relative;
  height: 200px;
  max-width: 300px;
  margin: 20px;
  border-radius: 10px 100px / 120px;
  border: 5px solid #D99E30;
  }

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  color:#D9411E;
  text-emphasis: bold;
}

.projectBox:hover .project-info {
  opacity: 1;
  visibility: visible;
}

/* footer */
.App-footer {
  background-color: #594234;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #0B8C8C;
  bottom: 0;
  width: 100%;
}

.leftFooterBorder {
  border-left: 1px solid #0B8C8C;
  padding-left: 10px;
}

.footerIcon {
  height: 50px;
  margin: 0 10px;
}

/*portfolio page */
.portfolioIcon {
  height: 40px;
  margin: 0 10px;
}

/* contact form */
form {
  margin-top: 20px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  background-color: #594234;
  font-size: calc(10px + 2vmin);
  color: #D99E30;
}

.formRow {
  margin: 10px 0 20px 0;
}

.formInput {
  padding: 15px 10px;
  border-radius: 10px 100px / 120px;
  min-width: 50%;
  color: #074c5e;
}

.errorMessage {
  color: #D9411E;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  border-radius: 10px 100px / 120px;

}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}

::placeholder {
  color: #074c5e;
}

/* resume box */
.ResumeContainer {
  display: flex;
flex-wrap: wrap;
  align-content: flex-start;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.ResumeItemBox {
  flex: 1 1 300px;
  font-size: 20px;
  height: 300px;
  padding: 35px;
  max-width: 300px;
  margin: 20px;
  border-radius: 10px 100px / 120px;
  background-color: #D99E30;
  color:#F2ECCE;
}

.ResumePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* height: 100vh;
  width: 100vw; */
  background-color: #594234;
  /* font-size: calc(10px + 2vmin);
  color: #D99E30; */
}

.ResumeTitle {
  display: flex;
  align-items: center;
  font-size: calc(20px + 2vmin);
  color: #D99E30;
}

.ResumeLink {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #D9411E;
  text-decoration: underline;
}

/*errorSpan */
#errorSpan {
  color:#D9411E;
}

